<?xml version="1.0"?>

<model>
  <name>niihan_environment</name>
  <version>1.0</version>

  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>NIIHAN Project</name>
    <email>developer@example.com</email>
  </author>

  <description>
    Static STL environment for the NIIHAN Gazebo simulation.
  </description>
</model>
